In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')
df.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [9]:
# splitting X AND y
features = ['Experience Years']
X = df[features]
y = df['Salary']

In [22]:
# splitting training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 40)

In [23]:
# creating model 
model = LinearRegression()
model.fit(X_train, y_train)

model.coef_ , model.intercept_

(array([9579.69882198]), np.float64(25945.13777256303))

In [24]:
y_predict = model.predict(X_test)
y_predict

array([ 82465.36082226,  74801.60176468,  78633.48129347,  91087.08976205,
        38398.74624114,  64263.9330605 ,  45104.53541653,  47020.47518093,
       112162.42717041, 116952.27658141,  62347.9932961 , 109288.51752382])

In [25]:
mse = mean_squared_error(y_test,y_predict)
mse

np.float64(25575597.982144162)

In [26]:
rscore = r2_score(y_test, y_predict)

In [27]:
rscore

0.9613085742415286

In [28]:
output = pd.DataFrame({ 'Actual Salary ': y_test, 'Predicted Salary ': y_predict})
output

    Actual Salary   Predicted Salary
25           81363       82465.360822
22           66029       74801.601765
24           82200       78633.481293
29           91738       91087.089762
2            46205       38398.746241
16           56957       64263.933060
4            43525       45104.535417
5            39891       47020.475181
35          105582      112162.427170
36          116969      116952.276581
13           60200       62347.993296
34          109431      109288.517524

In [29]:
model.score(X_test, y_test)

0.9613085742415286